{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    <title>FDXP - High Speed Fuel</title>
{% endblock %}

{% block body %}
    <div class="col-md-9">
        <h1>High Speed Fuel list</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>FLT NO</th>
                    <th>DEP-DEST</th>
                    <th>N FLT Time</th>
                    <th>HI FLT Time</th>
                    <th>Norm COST</th>
                    <th>HI COST</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
                    <td>{{ entity.flightNumber }}</td>
                    <td>{{ entity.depIATA }}-{{ entity.destIATA }}</td>
                    <td>{{ entity.normalFlightTime|date("h:i") }}</td>
                    <td>{{ entity.highSpeedFlightTime|date("h:i") }}</td>
                    <td>{{ entity.normalCost }}</td>
                    <td>{{ entity.highSpeedCost }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('highspeedfuel_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('highspeedfuel_new') }}" class="btn btn-primary btn">
            New entry
        </a>
    </div>

    {% endblock %}
