{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-datepicker.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block body %}
    <h1>New High Speed Fuel entry</h1>

{% form_theme form.date 'AppBundle:Form:datepicker.input.html.twig' %}


    <div class="row">
        <div class="col-md-6">

                {{ form(form) }}

        </div>
    </div>


{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: "DD-MM-YYYY",
            });
        });
    </script>
{% endblock %}


