{% extends '::base.html.twig' %}

{% block body -%}
    <h1>HighSpeedFuel</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Flightnumber</th>
                <td>{{ entity.flightNumber }}</td>
            </tr>
            <tr>
                <th>Depiata</th>
                <td>{{ entity.depIATA }}</td>
            </tr>
            <tr>
                <th>Destiata</th>
                <td>{{ entity.destIATA }}</td>
            </tr>
            <tr>
                <th>Normalflighttime</th>
                <td>{{ entity.normalFlightTime }}</td>
            </tr>
            <tr>
                <th>Highspeedflighttime</th>
                <td>{{ entity.highSpeedFlightTime }}</td>
            </tr>
            <tr>
                <th>Normalcost</th>
                <td>{{ entity.normalCost }}</td>
            </tr>
            <tr>
                <th>Highspeedcost</th>
                <td>{{ entity.highSpeedCost }}</td>
            </tr>
            <tr>
                <th>Archived</th>
                <td>{{ entity.archived }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('highspeedfuel') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('highspeedfuel_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
