{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    <title>FDXP - Route Comparisons</title>
{% endblock %}

{% block body %}
        {{ knp_menu_render('comparison_menu', { 'style' : 'breadcrumb', 'template' : 'AppBundle:Menu:mybootstrap.html.twig'}) }}
        <div class="col-md-6">
            <h1>List of existing comparisons</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.name }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('compare_case', { 'comp_id': entity.id }) }}">Show</a>
                                </li>
                                <li>
                                    <a href="{{ path('compare_edit', { 'id': entity.id }) }}">Edit name</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <ul>
                <li>
                    <a href="{{ path('compare_new') }}">
                        Create new comparison
                    </a>
                </li>
            </ul>
        </div>

{% endblock %}
