{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="col-md-6">
        {{ knp_menu_render('comparison_menu', { 'style' : 'breadcrumb', 'template' : 'AppBundle:Menu:mybootstrap.html.twig'}) }}

        <h1>Calculations list</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Citypair</th>
                <th>Cost</th>
                <th>Time</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.citypair }}</td>
                    <td>{{ entity.cost }}</td>
                    <td>{{ entity.time|date("h:i") }}</td>
                    <td>
                        <a href="{{ path('comparison_case_calc_edit',
                        { 'id': entity.id, 'case_id': app.request.get('case_id') }) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('comparison_case_calc_new', { 'case_id': app.request.get('case_id') }) }}"
           class="btn btn-primary btn">
            Create new case
        </a>
    </div>
    <div class="col-md-12 top-buffer">
        {{ form(plato_form) }}
    </div>
{% endblock %}
