{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    <title>FDXP - Flight Watch</title>
{% endblock %}
{% block body %}

    {# {{ dump(flights) }} #}
    <div class="row col-md-12">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Date</th>
                <th>No.</th>
                <th>STD</th>
                <th>T/O</th>
                <th>ALTN</th>
                <th>ERD</th>
                <th>ERDA</th>
                <th>FW Info</th>
                <th>Finalize flight</th>
            </tr>
            </thead>
            {% for flight in flights %}
                <tr>
                    <td>
                        {{ flight.flightDate|date('dM')|upper }}
                    </td>
                    <td>
                        {{ flight.flightNumber }}
                    </td>
                    <td>
                        {{ flight.std|date('H:i') }}Z
                    </td>
                    <td>
                        {{ flight.takeOffTime ? flight.takeOffTime|date('H:i')~'Z' : 'N/A' }}
                        <a href="{{ path('fw_edit', { 'id' : flight.id }) }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        {{ flight.altn }}
                    </td>
                    <td>
                        {{ flight.erd ? flight.erd : 'N/A' }}
                    </td>
                    <td>
                        {{ flight.erda ? flight.erda : 'N/A' }}
                    </td>
                    <td>
                        {% for info in flight.info %}
                            <div class="row bg-{{ info.eto_info }} eto fw-row">
                                <div class="col-md-6 no-gutter ">
                                    {{ info.pointName }}
                                    {{ flight.takeOffTime ? info.eto_time|date('H:i')~'Z' : '+'~info.eto|date('H:i') }}
                                    {{ info.ebo ? info.ebo~'T' : '' }}
                                    <a href="#wxModal" data-toggle="modal" data-airports="{{ info.airportsString }}">
                                        {{ info.airportsString }}
                                    </a>
                                </div>
                                <div class="col-md-6 no-gutter text-right">
                                    {% if info.form is defined%}
                                        <span class="text-right">
                                            <button type="button"
                                                    class="btn btn-link btn-xs finalize-point-form"
                                                    data-form-id="{{ info.id }}">
                                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Finalize
                                                </button>
                                            {{ form(info.form, { 'attr' : { 'id' : 'finalize-point-form-'~info.id } } ) }}
                                        </span>
                                    {% elseif info.completed %}
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Finalized
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-lg btn-block finalize-flight-form"
                                data-form-id="{{ flight.id }}">
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        </button>
                        {{ form(flight.form, { 'attr' : { 'id' : 'finalize-form-'~flight.id } }) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="row col-md-12">
        {{ form(form) }}
    </div>

    {% include 'AppBundle:FlightWatch:wxModal.html.twig' %}
    {% include 'AppBundle:FlightWatch:finalizeModal.html.twig' %}

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $('#wxModal').on('show.bs.modal', function (e) {
            var airports = e.relatedTarget.getAttribute('data-airports');
            var modalBody = $('.modal-body');
            modalBody.html('<p> Please wait... Loading WX info... </p>');
            $.getJSON("{{ path('fw_wx') }}", {'airports': airports}, function (data) {

                modalBody.html('');
                modalBody.append('<h4>METARs</h4>');
                $.each(data['metars'], function (index, element) {
                    $('.modal-body').append('<div>' + element + '</div>');
                });
                modalBody.append('<h4>TAFs</h4>');
                $.each(data['tafs'], function (index, element) {
                    $('.modal-body').append('<div>' + element + '</div>');
                });

            });
        });
        $('.finalize-flight-form').on('click', function (e) {
            e.preventDefault();
            var formID = $(this).attr('data-form-id');
            $('.finalize-modal-text').text('Do you really want to finalize this flight?');
            $('#modal-finalize').modal({backdrop: true, keyboard: true})
                    .one('click', '#modal-delete-button', function (e) {
                        $('#finalize-form-' + formID).trigger('submit');
                    });
        });
        $('.finalize-point-form').on('click', function (e) {
            e.preventDefault();
            var formID = $(this).attr('data-form-id');
            $('.finalize-modal-text').text('Do you really want to finalize this point?');
            $('#modal-finalize').modal({backdrop: true, keyboard: true})
                    .one('click', '#modal-delete-button', function (e) {
                        $('#finalize-point-form-' + formID).trigger('submit');
                    });
        });
    </script>
{% endblock %}



