{% extends 'AppBundle::layout.html.twig' %}
{% block title %}
    <title>FDXP - Flight Watch</title>
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    {% if print == 'print' %}
        <style>
            body {
                padding-top: 5px;
            }
            thead { display: table-header-group }
            tfoot { display: table-row-group }
            tr { page-break-inside: avoid }
        </style>
    {% endif %}
{% endblock %}
{% block navigation %}
    {% if print != 'print' %}
        {{ parent() }}
    {% endif %}
{% endblock %}
{% block body %}
    {% if print != 'print' %}
        <div class="row">
            <div class="col-md-4">
                <nav>
                    <ul class="pagination no-margin">
                        <li>
                            <span aria-hidden="true" style="color:black">Desk #</span>
                        </li>
                        {% for i in 1..6 %}
                            <li{{ desk == i ? " class='active'" }}>
                                <a href="{{ path('fw_index', {'desk' : i, 'filterDP' : filterDP}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        <li{{ desk == 'all' ? " class='active'" }}>
                            <a href="{{ path('fw_index', {'desk' : 'all', 'filterDP' : filterDP}) }}">All</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6">
                <span>
                    Only flights with DP (sorting by DP time):
                    <input type="checkbox" data-size="small" name="my-checkbox"{{ filterDP == 'filter-DP' ? " checked" }}>
                </span>
            </div>
            <div class="col-md-2">
                <span>
                    <a href="{{ path('fw_index', {'desk' : desk, 'filterDP' : filterDP, 'print' : 'print'}) }}"> Save as PDF </a>
                </span>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">

            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>No.</th>
                    <th>Dep-Dest</th>
                    <th>STD</th>
                    <th>T/O</th>
                    <th>ALTN</th>
                    <th>ERD</th>
                    <th>ERDA</th>
                    <th>FW Info</th>
                    {% if print != 'print' %}
                        <th>Delete</th>
                        <th>Finalize</th>
                    {% endif %}
                </tr>
                </thead>
                {% for flight in flights %}
                    <tr>
                        <td>
                            {{ flight.flightDate|date('dM')|upper }}
                        </td>
                        <td>
                            {{ flight.flightNumber }}
                        </td>
                        <td>
                            {{ flight.dep }}-{{ flight.dest }}
                        </td>
                        <td>
                            {{ flight.std|date('H:i') }}Z
                        </td>
                        <td>
                            {{ flight.takeOffTime ? flight.takeOffTime|date('d/H:i')~'Z' : 'N/A' }}
                            {% if print != 'print' %}
                                <a href="{{ path('fw_edit', { 'id' : flight.id }) }}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {{ flight.altn }}
                        </td>
                        <td>
                            {{ flight.erd ? flight.erd : 'N/A' }}
                        </td>
                        <td>
                            {{ flight.erda ? flight.erda : 'N/A' }}
                        </td>
                        <td>
                            {% for info in flight.info %}
                                <div class="row bg-{{ info.etoInfo }} eto fw-row">
                                    <div class="col-md-8 no-gutter ">
                                        {{ info.pointName }}
                                        {{ flight.takeOffTime ? info.etoTime|date('d/H:i')~'Z' : '+'~info.eto|date('H:i') }}
                                        {{ info.ebo ? info.ebo~'T' : '' }}
                                        <a href="#wxModal" data-toggle="modal" data-airports="{{ info.id }}">
                                            {{ info.pointType == 'dp' ? 'DP WX' : info.airportsString  }}
                                        </a>
                                    </div>
                                    <div class="col-md-4 no-gutter text-right">
                                        {% if (info.form is not null) and (print != 'print')%}
                                            <span class="text-right">
                                                {{ form(info.form) }}
                                            </span>
                                        {% elseif info.completed %}
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Finalized
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </td>
                        {% if print != 'print' %}
                            <td>
                                {{ form(flight.deleteForm) }}
                            </td>
                            <td>
                                {{ form(flight.finalizeForm) }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


    {% if (desk != 'all') and (print != 'print') %}
        <div class="row col-md-12">
            {{ form(form) }}
        </div>
    {% endif %}

    {% if print != 'print' %}
        {% include 'AppBundle:FlightWatch:wxModal.html.twig' %}
        {% include 'AppBundle:FlightWatch:finalizeModal.html.twig' %}
    {% endif %}

{% endblock %}
{% block javascript %}
    {% if print != 'print' %}
        {{ parent() }}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        {% if app.debug %}
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% else %}
            <script src="{{ asset('js/fos_js_routes.js') }}"></script>
        {% endif %}
        <script>

            $("[name='my-checkbox']").bootstrapSwitch();
            $("[name='my-checkbox']").on('switchChange.bootstrapSwitch', function (event, state) {
                if (state == true) {
                    window.location = Routing.generate('fw_index', {desk: '{{ desk }}', filterDP: 'filter-DP'});
                } else {
                    window.location = Routing.generate('fw_index', {desk: '{{ desk }}', filterDP: 'off'});
                }
            });

            function updateWxModal(airportsID, force) {
                force = typeof force !== 'undefined' ? force : 0;
                $('.wx-update-button').attr('data-airports', airportsID);
                var modalBody = $('#wx-modal-body');
                modalBody.html('<p> Please wait... Loading WX info... </p>');
                $.getJSON(Routing.generate('fw_wx', {id: airportsID, force: force}), function (data) {

                    modalBody.html('');
                    modalBody.append('<h4>METARs</h4>');
                    $.each(data['metars'], function (index, element) {
                        modalBody.append('<div>' + element + '</div><br/>');
                    });
                    modalBody.append('<h4>TAFs</h4>');
                    $.each(data['tafs'], function (index, element) {
                        modalBody.append('<div>' + element + '</div><br/>');
                    });
                    $('.wx-update-time').html(data['time']);
                });
            }

            $('#wxModal').on('show.bs.modal', function (e) {
                var airportsID = e.relatedTarget.getAttribute('data-airports');
                updateWxModal(airportsID);
            });
            $('.wx-update-button').on('click', function (e) {
                var airportsID = $(this).attr('data-airports');
                updateWxModal(airportsID, 1);
            });

            $('.finalize-flight-form').on('click', function (e) {
                e.preventDefault();
                form = $(this);
                $('.finalize-modal-text').text('Do you really want to FINALIZE this flight?');
                $('#modal-finalize').modal({backdrop: true, keyboard: true})
                        .one('click', '#modal-delete-button', function (e) {
                            form.submit();
                        });
            });

            $('.delete-flight-form').on('click', function (e) {
                e.preventDefault();
                form = $(this);
                $('.finalize-modal-text').text('Do you really want to DELETE this flight?');
                $('#modal-delete').modal({backdrop: true, keyboard: true})
                        .one('click', '#modal-delete-button', function (e) {
                            form.submit();
                        });
            });

            $('.finalize-point-form').on('click', function (e) {
                e.preventDefault();
                form = $(this);
                $('.finalize-modal-text').text('Do you really want to finalize this point?');
                $('#modal-finalize').modal({backdrop: true, keyboard: true})
                        .one('click', '#modal-delete-button', function (e) {
                            form.submit();
                        });
            });
        </script>
    {% endif %}
{% endblock %}



